/.idea
/.next
/node_modules
/lib
/dist
/*.log
/package-lock.json
/storybook-static/
/ssr-express/package-lock.json
/ssr-express/node_modules/
/next-env.d.ts
/coverage
# stryker temp files
.stryker-tmp
/reports
